.about {
  width: 80vw;
  max-width: 1050px;
  margin-bottom: 5rem;
  padding-top: 1rem;
  margin-top: 3rem;

  .about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-img {
    align-self: center;
    max-width: 100%;
    max-height: 350px;
    margin-bottom: 1.5rem;
    border-radius: 10px;

    &.loading-img {
      height: 25.5vw;

      @include phone {
        height: 58vw;
      }
    }
  }

  @include mobile {
    margin-top: 4rem;
    width: 95% !important;
  }

  .about-this-website {
    text-align: center;
  }

  ul {
    margin: 1rem 0;

    & > *:first-child {
      margin-bottom: 0.5rem;
    }
  }
}
