@keyframes placeHolderShimmer {
  from {
    background-position: -800px 0;
  }
  to {
    background-position: 800px 0;
  }
}

html {
  font-family: sans-serif, roboto;
}

body {
  overscroll-behavior: none;

  h1,
  h2,
  h3,
  p,
  ul {
    color: white;
    line-height: initial;
  }

  h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;

    @include mobile {
      margin-bottom: 1rem;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  h4 {
    font-weight: 600;
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  p {
    font-size: 1.1rem;
  }

  a {
    color: cornflowerblue;
  }
}

main {
  position: relative;
  margin: auto;

  @include phone {
    width: 100vw !important;
  }

  padding-bottom: 5rem;
}

.height-transition-wrapper {
  min-height: 91vh;

  @include mobile {
    min-height: 0;
  }
}

.loading-img {
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #868686;
  background-image: linear-gradient(
    to right,
    #868686 0%,
    #6d6d6d 20%,
    #868686 40%,
    #868686 100%
  );
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  position: relative;
  object-position: -99999px 99999px;
}

.frosted {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 1.5rem;

  @include mobile {
    padding: 1rem;
  }
}

$transition-time-1: calc(500ms * 0.6);
$transition-time-2: calc(500ms * 0.4);

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity $transition-time-2 ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity $transition-time-2 ease-in $transition-time-1;
}

.fade-wait-height {
  transition: height 500ms ease-in-out;
}
