header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  box-shadow: 0 3px 4px rgba(70, 130, 180, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .home-link {
    position: absolute;
    left: 0;

    i {
      margin-right: 0.3rem;
    }
  }

  .social-links {
    display: flex;
    align-items: center;

    a {
      margin: 0 1rem;
      padding: 0.6rem;
      border-radius: 0.7rem;
      background-color: white;
      transition: 0.3s all;

      &:hover {
        background-color: rgb(196, 218, 226);
        text-decoration: none;
      }
    }
  }
}
