@import "./_reset";
@import "./constants.scss";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./header.scss";
@import "./intro.scss";
@import "./projects.scss";

header,
main {
  width: 80vw;
  margin: auto;
  font-family: sans-serif, roboto;

  @include mobile {
    width: 100vw;
  }
}
