@import './_reset';
@import './constants.scss';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './home.scss';
@import './header.scss';

body {
  width: 80vw;
  max-width: 985px;
  margin: auto;
  font-family: sans-serif, roboto;

  @include mobile {
    width: 100vw;
  }
}