.home {
  width: 80vw;
}

.intro {
  display: flex;
  width: fit-content;
  width: 800px;
  height: 320px;
  margin: 3rem auto;
  justify-content: space-between;

  .avatar-img {
    margin-left: 10px;
    border-radius: 50%;
    width: 45%;

    &.loading-img {
      width: 45%;
    }
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 420px;
    padding-right: 5px;
  }

  @include tablet {
    flex-direction: column-reverse;
    align-items: center;
    margin: 4em auto 1rem auto;
    width: 95%;
    height: initial;

    h1 {
      margin-bottom: 0.5rem;
    }

    .avatar-img {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  }
}
