.projects-wrapper {
  width: 80vw;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  justify-items: center;
  align-content: center;
  margin-top: 4rem;

  &.margins-only {
    display: flex;

    .card {
      margin-right: 1rem;

      @include phone {
        margin: 1rem auto;
      }
    }

    @include phone {
      display: block;
    }
  }

  @include phone {
    display: block;
    margin-top: 6rem;
  }

  .card {
    background-color: silver;
    width: 95%;
    max-width: 300px;
    margin-bottom: 2rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    bottom: 0;
    border: none;
    transition: box-shadow 0.3s, bottom 0.3s;

    &:hover {
      bottom: 10px;
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
    }

    @include phone {
      margin: 1rem auto;
      width: 85%;
    }

    .card-body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0.6rem;
    }

    .card-text {
      font-size: 0.9rem;
      line-height: 1.05rem;
      pointer-events: none;
      color: black;
      margin: 0.5rem 0;
    }

    .card-title {
      font-size: 1.1rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 0.5rem;
      pointer-events: none;
    }

    .card-img {
      height: 180px;
      object-fit: cover;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .card-links {
      display: flex;

      button {
        margin: 0.6rem 1rem 0 0;
      }

      @include mobile {
        flex-direction: row-reverse;

        button {
          margin: 0.6rem 0 0 1rem;
        }
      }
    }
  }
}
